In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from time import sleep
import time
import calendar
from datetime import date
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import ipyparallel as ipp

In [14]:
month=1
year=2022
last_date=calendar.monthrange(year,month)[1]

In [18]:
city=['GOI','PNQ','JAI']
destination=['BLR','BOM','DEL','HYD','AMD','CCU','AGR','MAA','GOI']

In [19]:
names=[]
depart_times=[]
departs=[]
arr_times=[]
arrs=[]
durations=[]
stop=[]
prices=[]
datess=[]
monthss=[]
start_date='01'
mid_date='15'
mid_date_2='25'
datee=start_date
while len(names)<10000:
    print(datee,month)
    for home in city:
        for dest in destination:
            if home==dest:
                continue
            else:
                driver=webdriver.Chrome('chromedriver.exe')
                driver.maximize_window()
                url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination='+dest+'&destinationCountry=IN&flexi=0&flight_depart_date='+str(datee)+'%2F0'+str(month)+'%2F'+str(year)+'&hb=0&noOfSegments=1&origin='+home+'&originCountry=IN&type=O&unique=207953473702&viewName=normal'
                driver.get(url)
                time.sleep(33)
                for i in range(10):
                    driver.execute_script("var scrollingElement = (document.scrollingElement || document.body);scrollingElement.scrollTop = scrollingElement.scrollHeight;")
                    time.sleep(1)
                name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
                depart_time=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/div/div')
                depart=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
                arr_time=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[@class="bold fs-15 mb-2 pr time"]')
                arr=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
                duration=driver.find_elements_by_xpath('//div[@class="stop-det bdr-btm pb-5 v-aligm-t text-left"]/div/p')
                stops=driver.find_elements_by_xpath('//div[@class="stop-det bdr-btm pb-5 v-aligm-t text-left"]/div/div/span')
                price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
                for i in range(len(name)):
                    names.append(name[i].text)
                    depart_times.append(depart_time[i].text)
                    departs.append(depart[i].text)
                    arr_times.append(arr_time[i].text)
                    arrs.append(arr[i].text)
                    durations.append(duration[i].text)
                    stop.append(stops[i].text)
                    prices.append(price[i].text)
                    datess.append(datee)
                    monthss.append(month)
            driver.close()
            print(len(names),end=' ')
    print()
    print(datee,month,len(names))
    print()
    if str(datee)==start_date:
        datee=mid_date
    elif str(datee)==mid_date:
        datee=mid_date_2
    elif str(datee)==mid_date_2:
        datee=last_date
    elif str(datee)==str(last_date):
        datee=start_date
        month+=1
        last_date=calendar.monthrange(year,month)[1]

01 1
72 153 278 342 414 508 508 596 677 778 829 916 963 1043 1043 1114 1176 1270 1352 1385 1462 1495 1554 1554 1625 1698
01 1 1698

15 1
1777 1874 1999 2066 2140 2244 2244 2333 2417 2518 2570 2657 2694 2780 2780 2850 2908 3002 3083 3116 3192 3222 3296 3296 3365 3437
15 1 3437

25 1
3515 3612 3737 3804 3883 3987 3987 4080 4168 4270 4335 4431 4480 4571 4571 4653 4721 4817 4897 4933 5010 5047 5112 5112 5199 5268
25 1 5268

31 1
5349 5447 5572 5642 5723 5839 5839 5930 6020 6121 6184 6275 6321 6412 6412 6457 6523 6613 6677 6711 6775 6811 6848 6848 6915 6966
31 1 6966

01 2
7040 7132 7257 7323 7403 7511 7511 7602 7691 7794 7860 7952 7952 8043 8043 8136 8204 8300 8380 8417 8495 8533 8598 8598 8676 8745
01 2 8745

15 2
8819 8911 9036 9104 9178 9278 9278 9369 9450 9553 9609 9694 9737 9831 9831 9913 9977 10062 10137 10174 10250 10287 10346 10346 10421 10493
15 2 10493

In [22]:
flight=pd.DataFrame({})
flight['Date']=datess
flight['Month']=monthss
flight['Name']=names
flight['Depart Times']=depart_times
flight['Departure']=departs
flight['Arrival Times']=arr_times
flight['Arrival']=arrs
flight['Duration']=durations
flight['No. of Stops']=stop
flight['price']=prices
flight

,Date,Month,Name,Depart Times,Departure,Arrival Times,Arrival,Duration,No. of Stops,price
0,01,1,IndiGo,02:30,Goa,03:45,Bangalore,1h 15m,Non Stop,"4,161"
1,01,1,IndiGo,03:35,Goa,07:55,Bangalore,4h 20m,1 Stop,"4,424"
2,01,1,IndiGo,03:35,Goa,10:15,Bangalore,6h 40m,1 Stop,"4,424"
3,01,1,IndiGo,06:25,Goa,07:40,Bangalore,1h 15m,Non Stop,"5,736"
4,01,1,Vistara,00:20,Goa,07:50,Bangalore,7h 30m,1 Stop,"6,556"
...,...,...,...,...,...,...,...,...,...,...
10488,15,2,Air India,13:30,Jaipur,13:15\n+ 1 day,Goa,23h 45m,1 Stop,"7,079"
10489,15,2,Air Asia,23:50,Jaipur,07:50\n+ 1 day,Goa,8h 00m,1 Stop,"7,227"
10490,15,2,Air India,20:35,Jaipur,13:15\n+ 1 day,Goa,16h 40m,1 Stop,"7,299"
10491,15,2,IndiGo,07:45,Jaipur,14:35,Goa,6h 50m,1 Stop,"7,383"
10492,15,2,IndiGo,08:40,Jaipur,17:20,Goa,8h 40m,1 Stop,"7,999"

In [29]:
for i in range(len(flight.Name)):
    flight['Arrival Times'].iloc[i]=flight['Arrival Times'].iloc[i].split()[0]
flight

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Date,Month,Name,Depart Times,Departure,Arrival Times,Arrival,Duration,No. of Stops,price
0,01,1,IndiGo,02:30,Goa,03:45,Bangalore,1h 15m,Non Stop,"4,161"
1,01,1,IndiGo,03:35,Goa,07:55,Bangalore,4h 20m,1 Stop,"4,424"
2,01,1,IndiGo,03:35,Goa,10:15,Bangalore,6h 40m,1 Stop,"4,424"
3,01,1,IndiGo,06:25,Goa,07:40,Bangalore,1h 15m,Non Stop,"5,736"
4,01,1,Vistara,00:20,Goa,07:50,Bangalore,7h 30m,1 Stop,"6,556"
...,...,...,...,...,...,...,...,...,...,...
10488,15,2,Air India,13:30,Jaipur,13:15,Goa,23h 45m,1 Stop,"7,079"
10489,15,2,Air Asia,23:50,Jaipur,07:50,Goa,8h 00m,1 Stop,"7,227"
10490,15,2,Air India,20:35,Jaipur,13:15,Goa,16h 40m,1 Stop,"7,299"
10491,15,2,IndiGo,07:45,Jaipur,14:35,Goa,6h 50m,1 Stop,"7,383"
10492,15,2,IndiGo,08:40,Jaipur,17:20,Goa,8h 40m,1 Stop,"7,999"

In [30]:
flight.to_csv('data_III.csv')